.whitebox {
  background-color: white; 
  width: fit-content;
  text-align: center;
  padding: 3px 5px; 
}

.sixd {
  background-color: orange;
  font-family: "Montserrat"; 
  width: fit-content;
  padding: 3px 15px; 


}